.add-photo {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 30px 0;
    padding: 30px 5px;
    box-shadow: 0 0 25px 1px #d3d3d3;
    border-radius: 15px;
    button {
        box-shadow: none;
    }
    input {
        color: #333;
        font-size: 1.2rem;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border: none;
        display: block;
        border-bottom: 0.3rem solid transparent;
        transition: all 0.3s;
        text-align: center;
        box-shadow: 0 0 2px 1px #d3d3d3;
    }
    &__form-input {
        margin: 20px 0;
        width: 70%;
    }
}

::-webkit-input-placeholder {
    text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

@media (min-width: 500px) {
    .add-photo {
        width: 350px;
        padding: 40px;
    }
}